<li>
    <a href="http://www.digi.com/xbeecloudkit" target="_blank">Documentation</a>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#"><b>{{username}}</b> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a ui-sref="devices">Devices</a></li>
        <li><a ui-sref="advanced">Advanced Options</a></li>
        <li class="divider"></li>
        <li><a ng-href="{{cloud_fqdn}}/home.do" target="_blank">Manage Account</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</li>
