<h1>
    Device Configuration
    <div class="pull-right">
        <a class="btn btn-link"
            ng-href="https://{{cloud_fqdn}}/home.do" target="_blank">Manage Devices</a>
        <button class="btn btn-default" ng-click="load_devices()"
            ng-disabled="devices.loading">
            <i class="icon-refresh" ng-class="{'icon-spin': devices.loading}"></i> Refresh List
        </button>
    </div>
</h1>
<hr />

<div class="alert alert-danger" ng-show="devices.loaded && devices.load_error">
    {{devices.load_error}}
</div>

<div class="row" ng-show="config.error">
    <div class="alert alert-danger">
        An error occurred processing configuration<span ng-show="config.error_text">: <strong>{{config.error_text}}</stong></span>
    </div>
</div>

<table class="table table-striped table-hover table-bordered text-center device-table">
    <thead>
        <tr>
            <th width="25%">Device MAC Address</th>
            <th width="45%">Description</th>
            <th width="30%">Current Configuration</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="device in devices.list" ng-init="device._config={}" class="device-row">
            <td width="25%" class="mac-cell">{{device.devMac}}</td>
            <td width="45%">{{device.dpDescription}}</td>
            <td width="30%" ng-class="{success: device._config.checked && device._config.stock, danger: device._config.checked && !device._config.stock}">
                <button class="btn btn-default btn-sm" ng-disabled="device._config.checking" ng-click="checkConfig(device)" ng-show="!device._config.checked">
                    <i class="icon-spinner icon-spin" ng-if="device._config.checking"></i>
                    Check Configuration
                </button>
                <div ng-show="device._config.checked">
                    <span ng-show="device._config.stock"><i class="icon-ok icon-large"></i> Configured for Cloud Kit</span>
                    <span ng-show="!device._config.stock">
                        <i class="icon-warning-sign icon-large"></i> <strong>Not</strong> configured for Cloud Kit
                        <button class="btn btn-devicecloud btn-sm" ng-disabled="device._config.applying" ng-click="configure_device(device)">
                            <i class="icon-spinner icon-spin" ng-if="device._config.applying"></i>
                            Reconfigure for Kit
                        </button>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-devicecloud" ng-click="add_device()">
    <i class="icon-plus"></i> Add New Device
</button>
